.content__title {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-main-size);
    font-style: normal;
    font-weight: var(--bold);
    line-height: var(--line-height); /* 130% */

    width: 100%;
}

.content__subtitle {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-main-size);
    font-style: normal;
    font-weight: var(--bold);
    line-height: var(--line-height); /* 130% */

    width: 100%;
    background-color: var(--accent-color);
}

.content__text {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-main-size);
    font-style: normal;
    font-weight: var(--normal);
    line-height: var(--line-height); /* 130% */
}

.content__link-accent {
    text-shadow: 2px 2px var(--accent-color);
    text-decoration: none;
    border: 1px solid transparent;
}

.content__link-accent:hover {
    border-block-end: 1px solid var(--text-color);
}

.content__link-accent:focus-visible {
    outline: none;
    border: 1px solid var(--text-color);
}

.content__text-block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-block-end: 20px;
}

.content__section-a { /* для мобилки */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--page-padding);
}

@media (width > 500px) {
    .content__section-a {
      --page-padding: var(--general-padding);
      padding: var(--page-padding);
    }

    .content__section-a {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
  }

  .content__section-b { /* для мобилки */
    display: flex;
    flex-direction: column;
    gap: 20px;

    --page-padding: var(--mobile-padding);
    padding: var(--page-padding);
  }

  .content__text-block-gallery-b {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
  }

  @media (width > 500) {
    .content__section-b {
      --page-padding: var(--general-padding);
      padding: var(--page-padding);
    }
  }

  @media (width > 896px) {
    .content__text-block-gallery-b {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, minmax(min-content, max-content));
        gap: 20px;
      }
  }

  #weird-length-joke { /* заголовок с какой-то специально странной длиной */ /* дефолтно для мобилки */
    width: 100%;
  }


@media (500px < width <= 896px) {
    #weird-length-joke {
      max-width: 236px;
    }
  }
  
  @media (width > 896px) {
    #weird-length-joke {
      max-width: 315px;
    }
  }

  .non-bold {
    font-weight: var(--normal); 
  }