/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root {
  --text-color-dark: #F1B2CE; 
  --background-color-dark: #000028;
  --accent-color-dark: #FF0070;
  --accent-color-2-dark: #DB00FF;

  --background-image-dark: url("../images/cover-image-dark.png"); 

  --easter-egg-background-dark: url("../images/Ellipse\ 4.png") center no-repeat;
  --easter-egg-font-dark: var(--accent-color-dark);

  --button-hover-color-dark: rgba(255, 0, 112, 0.40);
  --button-active-color-dark: var(--accent-color-dark);

  --decorate-border-color-dark: var(--accent-color-dark);
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --text-color: var(--text-color-dark); 
  --background-color: var(--background-color-dark);
  --accent-color: var(--accent-color-dark);
  --accent-color-2: var(--accent-color-2-dark);

  --header-text-color: var(--background-color-dark);

  --background-image: var(--background-image-dark); 

  --easter-egg-background: var(--easter-egg-background-dark);
  --easter-egg-font: var(--easter-egg-font-dark);

  --button-hover-color: var(--button-hover-color-dark);
  --button-active-color: var(--button-active-color-dark);
  --theme-switcher-color: var(--accent-color-dark);

  --decorate-border-color: var(--decorate-border-color-dark);
}
