.footer {
  --page-padding: var(--mobile-padding);
  padding: var(--page-padding);
  height: 100vh;
  display: grid;
}

.footer__title {
    
    --font-title-size: var(--font-title-size-mobile);
    color: var(--header__title-color);
    text-shadow: 4px 4px 0px var(--header__title-shadow-color);
    font-family: var(--font-family);
    font-size: var(--font-title-size);
    font-style: normal;
    font-weight: var(--bold);
    line-height: var(--title-line-height);
    
    place-self: center center;
}

@media (width > 500px) {
  footer {
    --page-padding: var(--general-padding);
    padding: var(--page-padding);
  } 
}

.footer__block-start-inline-end-corner {
    width: 25px;
    height: 25px;
  
    background: transparent;
    border: 1px transparent;
    border-block-start: 1px solid var(--decorate-border-color);
    border-inline-end: 1px solid var(--decorate-border-color);
  
    place-self: start end;
  
    position: relative;
  }

  .footer__block-end-inline-start-corner {
      width: 25px;
      height: 25px;
    
      background: transparent;
      border: 1px transparent;
      border-inline-start: 1px solid var(--decorate-border-color);
      border-block-end: 1px solid var(--decorate-border-color);
    
      place-self: end start;
    
      position: relative;
    }