/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root {
  --text-color-light: #353430; 
  --background-color-light: #FFF1F7;
  --accent-color-light: #FF8DCB;
  --accent-color-2-light: #FFC2E6;

  --background-image-light: url("../images/cover-image-light.png"); 

  --easter-egg-background-light: transparent;
  --easter-egg-font-light: transparent;

  --button-hover-color-light: rgba(50, 49, 45, 0.40);
  --button-active-color-light: var(--text-color-light);

  --decorate-border-color-light: var(--text-color-light);
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --theme-switcher-color: var(--text-color-light);

}