/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  background: var(--background-image) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --text-color: /var(--text-color-dark);
    --background-color: var(--background-color-dark);
    --accent-color: var(--accent-color-dark);
    --accent-color-2: var(--accent-color-2-dark);

    --header-text-color: var(--background-color-dark);

    --background-image: var(--background-image-dark); 

    --easter-egg-background: var(--easter-egg-background-dark);
    --easter-egg-font: var(--easter-egg-font-dark);

    --button-hover-color: var(--button-hover-color-dark);
    --button-active-color: var(--button-active-color-dark);
    --theme-switcher-color: var(--accent-color-dark);

    --decorate-border-color: var(--decorate-border-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    
    --text-color: var(--text-color-light); 
    --background-color: var(--background-color-light);
    --accent-color: var(--accent-color-light);
    --accent-color-2: var(--accent-color-2-light);

    --header-text-color: var(--text-color);

    --background-image: var(--background-image-light); 

    --easter-egg-background: var(--easter-egg-background-light);
    --easter-egg-font: var(--easter-egg-font-light);

    --button-hover-color: var(--button-hover-color-light);
    --button-active-color: var(--button-active-color-light);

    --decorate-border-color: var(--decorate-border-color-light);
  }
}